<div class="jumbotron text-center">
    <h1>Welcome to SkyStore</h1>
    <p>The Largest Online Digital Book Store</p>
    
    <%= link_to "Books", books_path , class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>
